<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661506955660-dj5vqmblnjg1neu455ep35g8ideagdie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661506955660-dj5vqmblnjg1neu455ep35g8ideagdie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>661506955660-3nvknpkqpp3n0ths2vg0aevnvdri2tdu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVe8KPMbr4EF_0KZBzJd3e1J_Q5MGUj4M</string>
	<key>GCM_SENDER_ID</key>
	<string>661506955660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomarketdemo.groceryy</string>
	<key>PROJECT_ID</key>
	<string>gomarketdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>gomarketdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661506955660:ios:87815533805e25c0115ea9</string>
	<key>DATABASE_URL</key>
	<string>https://gomarketdemo.firebaseio.com</string>
</dict>
</plist>